<!DOCTYPE html>
<head>
	<meta charset="utf-8"> 
	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script> 
	<script type="text/javascript" src="jquery-2.1.1.js"></script>
	<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart"]});
     	google.setOnLoadCallback(carregarInformacoes);

		function carregarInformacoes() {
			carregarDadosMemoria();
			carregarDadosSwap();
			carregarDadosHD();
		};

		function carregarDadosMemoria() {
		    $.ajax({
		    	complete: setTimeout(carregarDadosMemoria, 20000),
		    	dataType: 'json',
		    	timeout: 10000,
		        type: 'POST',
		        url: 'monitor-memoria.json'
		    })
		    .done(function(data) {
		    	desenharGraficoMemoria(data);
		    })
		    .fail(function(data) {
		    });	
		};

		function carregarDadosSwap() {
		    $.ajax({
		    	complete: setTimeout(carregarDadosSwap, 20000),
		    	dataType: 'json',
		    	timeout: 10000,
		        type: 'POST',
		        url: 'monitor-swap.json'
		    })
		    .done(function(data) {
		    	desenharGraficoSwap(data);
		    })
		    .fail(function(data) {
		    });	
		};

		function carregarDadosHD() {
		    $.ajax({
		    	complete: setTimeout(carregarDadosHD, 20000),
		    	dataType: 'json',
		    	timeout: 10000,
		        type: 'POST',
		        url: 'monitor-hd.json'
		    })
		    .done(function(data) {
		    	desenharGraficoHD(data);
		    })
		    .fail(function(data) {
		    });	
		};

		function desenharGraficoMemoria(data) {
			var dataTable = new google.visualization.DataTable(data);

			var options = {
			  	legend: {
			  		position: 'bottom'
			  	},
			  	hAxis: {
			  		titleTextStyle: {
			  			color: '#333'
			  		}
			 	},
			 	vAxis: {
			 		format: '# MiB',
			 		minValue: 0,
			 		maxValue: <%= node["memory"]["total"].to_i / 1024 %>,
			 		titleTextStyle: {
			 			color: '#333'
			 		}
			 	}
			};

			var chart = new google.visualization.AreaChart(document.getElementById('monitor-memoria'));
			chart.draw(dataTable, options);
		};

		function desenharGraficoSwap(data) {
			var dataTable = new google.visualization.DataTable(data);

			var options = {
			  	legend: {
			  		position: 'bottom'
			  	},
			  	hAxis: {
			  		titleTextStyle: {
			  			color: '#333'
			  		}
			 	},
			 	vAxis: {
			 		format: '# MiB',
			 		minValue: 0,
			 		maxValue: <%= node["memory"]["swap"]["total"].to_i / 1024 %>,
			 		titleTextStyle: {
			 			color: '#333'
			 		}
			 	}
			};

			var chart = new google.visualization.AreaChart(document.getElementById('monitor-swap'));
			chart.draw(dataTable, options);
		};

		function desenharGraficoHD(data) {
			var dataTable = new google.visualization.DataTable(data);

			var options = {
			  	is3D: true,
			  	legend: {
			  		position: 'bottom'
			  	}
			};

			var chart = new google.visualization.PieChart(document.getElementById('monitor-hd'));
			chart.draw(dataTable, options);
		};
	</script>

	<title><%= node["node_name"] %> - Monitor de Recursos</title> 
</head>

<body>
	<div style="border: 2px solid lightgrey; height: auto; min-width: 960px; width: 100%;">
		<div style="background-color: lightgrey; border-bottom: 2px solid lightgrey; height: 30px; text-align: center; width: 100%;">
			<label style="line-height: 30px; font-family: sans-serif; font-size: 20px; font-weight: bold;">Informações Técnicas</label>
		</div>
		<div style="font-family: sans-serif; font-size: 18px; width: 100%;">
			<div style="float: left; width: 50%;">
				<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">Nome do Nó: </label>
					<label><%= node["node_name"] %></label>
				</div>
				<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">FQDN: </label>
					<label><%= node["fqdn"] %></label>
				</div>
				<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">Plataforma</label>
				</div>
				<div style="width: 96%; margin: 2px auto 0px 30px;">
					<label style="font-weight: bold;">Nome: </label>
					<label><%= node["platform"] %></label>
				</div>
				<div style="width: 96%; margin: 2px auto 0px 30px;">
					<label style="font-weight: bold;">Versão: </label>
					<label><%= node["platform_version"] %></label>
				</div>
				<div style="width: 96%; margin: 2px auto 0px 30px;">
					<label style="font-weight: bold;">Família: </label>
					<label><%= node["platform_family"] %></label>
				</div>
				<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">Kernel</label>
				</div>
				<div style="width: 96%; margin: 2px auto 0px 30px;">
					<label style="font-weight: bold;">Nome: </label>
					<label><%= node["kernel"]["name"] %></label>
				</div>
				<div style="width: 96%; margin: 2px auto 0px 30px;">
					<label style="font-weight: bold;">Versão: </label>
					<label><%= node["kernel"]["release"] %></label>
				</div>
				<div style="width: 96%; margin: 2px auto 0px 30px;">
					<label style="font-weight: bold;">Ambiente: </label>
					<label><%= node["kernel"]["machine"] %></label>
				</div>
			</div>
			<div style="float: right; width: 50%;">
				<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">Endereço MAC: </label>
					<label><%= node["macaddress"] %></label>
				</div>
				<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">Endereço IPV4: </label>
					<label><%= node["ipaddress"] %></label>
				</div>
				<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">Endereço IPV6: </label>
					<label><%= node["ip6address"] %></label>
				</div>		
					<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">Quantidade de CPU's: </label>
					<label><%= node["cpu"]["total"].to_i %></label>
				</div>	
				<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">Total de Memória RAM: </label>
					<label><%= node["memory"]["total"].to_i / 1024 %> MiB</label>
				</div>
				<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">Total de Memória SWAP: </label>
					<label><%= node["memory"]["swap"]["total"].to_i / 1024 %> MiB</label>
				</div>
				<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">Roles: </label>
					<% node["roles"].each do |role| %>
					<div style="width: 96%; margin: 2px auto 0px 30px;">
						<label><%= role %></label>
					</div>
					<% end %>
				</div>
				<div style="width: 98%; margin: 2px auto;">
					<label style="font-weight: bold;">Receitas: </label>
					<% node["recipes"].each do |recipe| %>
					<div style="width: 96%; margin: 2px auto 0px 30px;">
						<label><%= recipe %></label>
					</div>
					<% end %>
				</div>
			</div>
			<div style="clear: both; height: 5px;"></div>			
		</div>
	</div>
	<div style="border: 2px solid lightgrey; height: 500px; margin-top: 10px; min-width: 960px; width: 100%;">
		<div style="background-color: lightgrey; border-bottom: 2px solid lightgrey; height: 30px; text-align: center; width: 100%;">
			<label style="line-height: 30px; font-family: sans-serif; font-size: 20px; font-weight: bold;">Memória RAM</label>
		</div>
		<div style="height: 470px; width: 100%;">
			<div id="monitor-memoria" style="width: 100%; height: 98%;"></div>
		</div>
	</div>
	<div style="height: 500px; margin-top: 10px; min-width: 960px; width: 100%;">
		<div style="border: 2px solid lightgrey; float:left; height: 100%; width: 49%;">
			<div style="background-color: lightgrey; border-bottom: 2px solid lightgrey; height: 30px; text-align: center; width: 100%;">
				<label style="line-height: 30px; font-family: sans-serif; font-size: 20px; font-weight: bold;">Memória SWAP</label>
			</div>
			<div style="height: 470px; width: 100%;">
				<div id="monitor-swap" style="width: 100%; height: 98%;"></div>
			</div>
		</div>
		<div style="border: 2px solid lightgrey; float:right; height: 100%; width: 49%;">
			<div style="background-color: lightgrey; border-bottom: 2px solid lightgrey; height: 30px; text-align: center; width: 100%;">
				<label style="line-height: 30px; font-family: sans-serif; font-size: 20px; font-weight: bold;">Disco Rígido</label>
			</div>
			<div style="height: 470px; width: 100%;">
				<div id="monitor-hd" style="width: 100%; height: 98%;"></div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
</body>
</html>